# Database
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# JWT Secrets
JWT_ACCESS_SECRET="PLEASE_CHANGE_THIS_TO_A_RANDOM_64_CHAR_STRING"
JWT_REFRESH_SECRET="PLEASE_CHANGE_THIS_TO_A_RANDOM_64_CHAR_STRING"

# JWT Expiration
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"

# App
PORT=3001
FRONTEND_URL="http://localhost:3000"
