# Local Database (For Reviewers)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/crm_db?schema=public"

# JWT Secrets (Local Testing)
JWT_ACCESS_SECRET="local_testing_access_secret_123_abc"
JWT_REFRESH_SECRET="local_testing_refresh_secret_456_def"

# JWT Expiration
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"

# App
PORT=3001
FRONTEND_URL="http://localhost:3000"
